body{
    background-color: #45BF55;
}

*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

a:hover{
    color: #00747C;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    background-color: #45BF55;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    height: 8vh;
}

.menu{
    list-style: none;
    display: flex;
}

.menu li{
    letter-spacing: 3px;
    margin-left: 32px;
}

h1{
    color: #00747C;
    display: flex;
}
